In [1]:
tup= ('A','B','C')
print(tup)
tup1=(1,23,4,5,5,6)
print(tup1)
tup2="abc","def"
print(tup2)

('A', 'B', 'C')
(1, 23, 4, 5, 5, 6)
('abc', 'def')

In [5]:
tup1 = ()
print(tup1)

()

In [2]:
tup1 = (16)
print(tup1)

16

In [3]:
tup= ('A','B','C','D','E')
print(tup[0])
print(tup[2])
print(tup[2:5])

A
C
('C', 'D', 'E')

In [5]:
tup1 = ('A','B','C','D','E')
print(tup1)

del(tup1)
print(tup1)

('A', 'B', 'C', 'D', 'E')

NameError: name 'tup1' is not defined

In [6]:
tup1= ('A','B','C','D','E')
print(tup1)
tup2= ('F','G','H')
print(tup2)


tup3=tup1+tup2
print(tup3)

('A', 'B', 'C', 'D', 'E')
('F', 'G', 'H')
('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H')

In [7]:
tup= ('A','B','C','D','E')
print(tup1)

print("value at 3rd loc= ",tup1[3])

tup1[3]="F" #not allowed
print("UPDATED value at 3rd loc= ",tup1[3])

('A', 'B', 'C', 'D', 'E')
value at 3rd loc=  D

TypeError: 'tuple' object does not support item assignment

In [8]:
tup1= ('A','B','C','D','E')
print(tup1)
tup2= ('F','G','H')
print(tup2)
a=len(tup1)
b=len(tup2)
print(a)
print(b)

print(len(tup1))

('A', 'B', 'C', 'D', 'E')
('F', 'G', 'H')
5
3
5

In [9]:
tup1= ('A','B','C','D','E')
print(tup1)
tup2= ('F','G','H')
print(tup2)


print(max(tup1))

('A', 'B', 'C', 'D', 'E')
('F', 'G', 'H')
E